<%
var colorArr = ['#F9EBEA', '#CCCCFF', '#D5F5E3', '#E8F8F5','#D7BDE2','#F8C471','#66CCCC', '4BACB3', '#FEF9E7','#fffbf0','#FF9999','#b0a4e3','#e4c6d0','#e0f0e9','#ff8c31','#F5EEF8','#D4F4FA','#88ada6','#c8c2c6','#d4dcda','#f5b1aa','#a2d7dd','#F1E6F7','D4F4FA','#CCFFF','#99CC99','#66CCCC','#FF99CC','#99CC99','#99CC00','#CCFF66','#F8F9F9', '#A3E4D7', '#85C1E9',  '#F9E79F', '#6699CC'];
var colorCount = colorArr.length;
var hashCode = function (str) {
    if (!str && str.length === 0) {
        return 0;
    }

    var hash = 0;
    for (var i = 0, len = str.length; i < len; i++) {
        hash = ((hash << 5) - hash) + str.charCodeAt(i);
        hash |= 0;
    }
    return hash;
};
var i = 0;
var isTag = is_tag();
%>

<div id="tags" class="container chip-container">
    <div class="card">
        <div class="card-content">
            <div class="tag-title center-align">
                <i class="fas fa-tags"></i>&nbsp;&nbsp;<%= __('postTagTitle') %>
            </div>
            <div class="tag-chips">
                <% site.tags.map(function(tag) { %>
                <%
                    i++;
                    var color = i >= colorCount ? colorArr[Math.abs(hashCode(tag.name) % colorCount)]
                            : colorArr[i - 1];
                %>
                <a href="<%- url_for(tag.path) %>" title="<%- tag.name %>: <%- tag.length %>">
                    <span class="chip center-align waves-effect waves-light
                            <% if (isTag && tag.name == page.tag) { %> chip-active <% } else { %> chip-default <% } %>"
                            data-tagname="<%- tag.name %>" style="background-color: <%- color %>;"><%- tag.name %>
                        <span class="tag-length"><%- tag.length %></span>
                    </span>
                </a>
                <% }); %>
            </div>
        </div>
    </div>
</div>