<%
    var menuMap = new Map();
    menuMap.set("Index", "主");
    menuMap.set("Tags", "签");
    menuMap.set("Categories", "类");
    menuMap.set("Archives", "档");
    menuMap.set("About", "吾");
    menuMap.set("Contact", "言");
    menuMap.set("ArtiTalk", "语");
    menuMap.set("Friends", "友");
    menuMap.set("Color", "色");
    menuMap.set("Secret", "秘");
    menuMap.set("Navigation", "风域之门");
    menuMap.set("Siteboxing", "妖魔化镜");
    menuMap.set("Writinging", "阿蓝故事");
    menuMap.set("SmallCloud", "云上之城");
    menuMap.set("ColorWorld", "红飞翠舞");
    menuMap.set("SiteStatus", "沧海成渊");


    var configRoot = config.root
    configRoot = (configRoot === null || configRoot === undefined || configRoot === '/') ? '' : configRoot;
%>

<a href="#" data-target="mobile-nav" class="sidenav-trigger button-collapse"><i class="fas fa-bars"></i></a>
<ul class="right nav-menu">
  <% Object.keys(theme.menu).forEach(function(key) { %>
  <li class="hide-on-med-and-down nav-item">
    <% if(!theme.menu[key].children) { %>
    <a href="<%- url_for(theme.menu[key].url) %>" class="waves-effect waves-light">
      <% if (theme.menu[key].icon && theme.menu[key].icon.length > 0) { %>
      <i class="<%- theme.menu[key].icon %>" style=" "></i>   <!-- zoom: 0.6;transform:scale(2);-moz-transform：scale(0.6); -->
      <% } %>
      <span><%- (config.language === 'zh-CN' && menuMap.has(key)) ? menuMap.get(key) : key %></span>
    </a>
    <% } else { %>
    <a href="<%- theme.menu[key].url %>" class="waves-effect waves-light">

      <% if (theme.menu[key].icon && theme.menu[key].icon.length > 0) { %>
      <i class="<%- theme.menu[key].icon %>" style=" "></i>
      <% } %>
      <span><%- (config.language === 'zh-CN' && menuMap.has(key)) ? menuMap.get(key) : key %></span>
      <i class="fas fa-chevron-down" aria-hidden="true" style=""></i>
    </a>
    <ul class="sub-nav menus_item_child ">
      <% for(let childrenLink of theme.menu[key].children){ %>
      <li>
        <a href="<%- url_for(childrenLink.url)%>">
          <% if (childrenLink.icon && childrenLink.icon.length > 0) { %>
          <i class="<%- childrenLink.icon %>" style="margin-top: -20px;  "></i>
          <% } %>
          <span><%- (config.language === 'zh-CN' && menuMap.has(childrenLink.name)) ? menuMap.get(childrenLink.name) : key %></span>
        </a>
      </li>
      <% } %>
    </ul>
    <% } %>
  </li>
  <% }); %>
  <li>
    <a href="#searchModal" class="modal-trigger waves-effect waves-light">
      <i id="searchIcon" class="fas fa-search" title="<%= __('search') %>" style=" "> <!-- zoom: 0.85; -->
    </a></i>
  <li  id="fullscreen_li" class="fullscreen">
    <a href="javascript:void(0);" class="modal-trigger waves-effect waves-light">
      <i id="fullscreen" class="fa fa-expand-arrows-alt" title="全屏" style=" "> <!-- zoom: 0.75; --></i>
    </a>
  
    <!--
    <a href="https://travellings.now.sh/" target="blank" title="开往-友链接力"><img src="https://travellings.now.sh/assets/logo.gif" alt="开往-友链接力" width="120"></a>
    -->
  </li>
</ul>

<%- partial('_partial/mobile-nav') %>
